<div class="container">
 <div class="row">
  <div class="col-lg-6 col-lg-offset-3">

   <h1>welcome to <i class="glyphicon glyphicon-book" aria-hidden="true"></i>Bookers !!</h1>
     <div>In <i class="glyphicon glyphicon-book" aria-hidden="true"></i>Bookers,</div>
     <br><div>you can share and exvhange your opinions ,impressions ,and emotions</div>
     <br><div>about various books!</div>
     
     <br>
     <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
       <button type="button" class="btn btn-info"><%= link_to 'Log in', new_user_session_path %>&nbsp;&nbsp;</a>
       <button type="button" class="btn btn-success"><%= link_to 'Sign up', new_user_registration_path %></button>
      </div>
     </div>

  </div>
 </div>
</div>

